{% extends "app/base.html" %}

{% load static %}

{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="{% url 'app:category' 'Fresh_Meat' %}">Fresh Meat</a></li>
                            <li><a href="{% url 'app:category' 'Vegetables' %}">Vegetables</a></li>
                            <li><a href="{% url 'app:category' 'Fruit_Nut_Gifts' %}">Fruit & Nut Gifts</a></li>
                            <li><a href="{% url 'app:category' 'Fresh_Berries' %}">Fresh Berries</a></li>
                            <li><a href="{% url 'app:category' 'Ocean_Foods' %}">Ocean Foods</a></li>
                            <li><a href="{% url 'app:category' 'Butter_Eggs' %}">Butter & Eggs</a></li>
                            <li><a href="{% url 'app:category' 'Fastfood' %}">Fastfood</a></li>
                            <li><a href="{% url 'app:category' 'Fresh_Onion' %}">Fresh Onion</a></li>
                            <li><a href="{% url 'app:category' 'Papayaya_Crisps' %}">Papayaya & Crisps</a></li>
                            <li><a href="{% url 'app:category' 'Oatmeal' %}">Oatmeal</a></li>
                            <li><a href="{% url 'app:category' 'Fresh_Bananas' %}">Fresh Bananas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'app:search' %}"  method="get">

                                <input name="query" type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'app/img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="" id="form" method="post" onsubmit="return false">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text" value="{{ customer.user.first_name }}" name="first_name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text" value="{{ customer.user.last_name }}" name="last_name">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <input type="text" value="{{ shipping_address.country }}" name="country">
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" value="{{ shipping_address.address }}" class="checkout__input__add" name="address">
                            </div>
                            <div class="checkout__input">
                                <p>City<span>*</span></p>
                                <input type="text"  value="{{ shipping_address.city }}" name="city">
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input type="text" value="{{ shipping_address.postal_code }}" name="postal_code">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text"  value="{{ shipping_address.phone_number }}" name="phone_number">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" value="{{ customer.email }}" name="email">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Products <span>Total</span></div>
                                {% for item in items %}
                                <ul>
                                    <li>{{ item.product.title }} <span>{{ item.get_total }}BDT</span></li>
                                </ul>
                                {% endfor %}
                                <div class="checkout__order__subtotal">Subtotal <span>{{ order.get_cart_total.0|floatformat:2 }} BDT</span></div>
                                <div class="checkout__order__shipping">Shipping <span>70BDT</span></div>
                                <div class="checkout__order__total">Total <span>{{ order.get_cart_total.1|floatformat:2 }} BDT</span></div>

                                <div id="paypal-button-container"></div>
                                <button type="submit" class="site-btn" id="make-payment">PLACE ORDER</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->


<script src="https://www.paypal.com/sdk/js?client-id=AfrQeaZyO3e4z3NciJeS718CwY-TT6aRAGoiRLQnzUWyqk5lsB3OblFoRAfxgR9yIJ00Ib9RTKjL1zfi&currency=USD&disable-funding=credit"></script>

<script type="text/javascript">
    var total = '{{ order.get_cart_total.1}}'

    var form = document.getElementById('form')



    document.getElementById('make-payment').addEventListener('click',function(e){

        console.log('clicked')
        document.getElementById('make-payment').style.visibility='hidden'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    submitFormData()
                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    })
    function submitFormData(){
        console.log('Payment button clicked')
        var userFormData = {
            'name': form.first_name.value+' '+form.last_name.value,
            'email': form.email.value,
            'total':total,
        }
        var shippingInfo = {
            'address': form.address.value,
            'city':form.city.value ,
            'country': form.country.value,
            'postal_code': form.postal_code.value,
            'phone_number': form.phone_number.value ,
        }
        var url = 'http://127.0.0.1:8000/shop/process_order/'
        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success: ',data);
            alert('Transaction completed');

            cart = {}
            document.cookie = 'cart='+ JSON.stringify(cart) + ";domain=;path=/"


            window.location.replace("{% url 'app:shop' %}");
        })
        .catch(err => console.log(err));
    }
</script>

{% endblock %}