{% extends "app/base.html" %}

{% load static %}

{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="{% url 'app:category' 'Fresh_Meat' %}">Fresh Meat</a></li>
                            <li><a href="{% url 'app:category' 'Vegetables' %}">Vegetables</a></li>
                            <li><a href="{% url 'app:category' 'Fruit_Nut_Gifts' %}">Fruit & Nut Gifts</a></li>
                            <li><a href="{% url 'app:category' 'Fresh_Berries' %}">Fresh Berries</a></li>
                            <li><a href="{% url 'app:category' 'Ocean_Foods' %}">Ocean Foods</a></li>
                            <li><a href="{% url 'app:category' 'Butter_Eggs' %}">Butter & Eggs</a></li>
                            <li><a href="{% url 'app:category' 'Fastfood' %}">Fastfood</a></li>
                            <li><a href="{% url 'app:category' 'Fresh_Onion' %}">Fresh Onion</a></li>
                            <li><a href="{% url 'app:category' 'Papayaya_Crisps' %}">Papayaya & Crisps</a></li>
                            <li><a href="{% url 'app:category' 'Oatmeal' %}">Oatmeal</a></li>
                            <li><a href="{% url 'app:category' 'Fresh_Bananas' %}">Fresh Bananas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'app:search' %}"  method="get">

                                <input name="query" type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'app/img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Signup</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Sign up Section Begin -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
        <form action="" method="post">
            {% csrf_token %}
            {% for fm in form %}
            <div class="form-group mb-3">
                {{ fm.label_tag }} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
            </div>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary">
            <br>
            <div class=" text-primary  text-center fw-bold"><small>Existing User?
            <a href="{% url 'app:loginuser' %}" class="text-danger">Login Now</a></small></div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
            {% endif %}
        </form>
        </div>
    </div>

    <!-- Checkout Section End -->
{% endblock %}